.span {
  color: #a0a0a0;
}

.hw1 {
  box-shadow: none;
}

.hw2 {
  display: block;
  border: 1px solid #5c6368;
  border-radius: 50%;
}

.new {
  display: block;
}

.old {
  display: none;
}

.sample {
  color: #c1c1c1;
}

.sample2 {
  color: #e3e3e3;
}